USE [master]
GO
/****** Object:  Database [reportMan]    Script Date: 01/31/2017 14:45:44 ******/
CREATE DATABASE [reportMan] ON  PRIMARY 
( NAME = N'reportMan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\reportMan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'reportMan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\reportMan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reportMan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reportMan]
GO
/****** Object:  Table [dbo].[TableAD]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableAD](
	[Admin] [nchar](10) NOT NULL,
	[pwd] [nchar](10) NULL,
 CONSTRAINT [PK_TableAD] PRIMARY KEY CLUSTERED 
(
	[Admin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TableAD] ([Admin], [pwd]) VALUES (N'ADMIN     ', N'admin     ')
INSERT [dbo].[TableAD] ([Admin], [pwd]) VALUES (N'ADMIN1    ', N'admin     ')
/****** Object:  Table [dbo].[Subject]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nchar](20) NOT NULL,
	[Category] [nchar](5) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_Subject_1] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subject] ON
INSERT [dbo].[Subject] ([Iden], [Subject], [Category], [School]) VALUES (1, N'AGRICULTURAL SCIENCE', N'ALL  ', N'CONVENTIONAL   ')
INSERT [dbo].[Subject] ([Iden], [Subject], [Category], [School]) VALUES (2, N'BASIC SCIENCE       ', N'JSS  ', N'CONVENTIONAL   ')
INSERT [dbo].[Subject] ([Iden], [Subject], [Category], [School]) VALUES (3, N'BIOLOGY             ', N'SSS  ', N'CONVENTIONAL   ')
SET IDENTITY_INSERT [dbo].[Subject] OFF
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[FormNumber] [nchar](10) NULL,
	[FirstName] [nchar](20) NULL,
	[MiddleName] [nchar](20) NULL,
	[Surname] [nchar](20) NULL,
	[FulllName] [nchar](60) NULL,
	[BloodGrooup] [nchar](10) NULL,
	[Genotype] [nchar](10) NULL,
	[GuardiansName] [nchar](60) NULL,
	[GuardiansAddress] [nchar](150) NULL,
	[GuardiansOfficePhoneNum] [nchar](20) NULL,
	[GuardiansHousePhoneNum] [nchar](20) NULL,
	[guardiansAlternateNumber] [nchar](20) NULL,
	[Gendre] [nchar](10) NULL,
	[State] [nchar](15) NULL,
	[localGovt] [nchar](20) NULL,
	[Clas] [nchar](10) NULL,
	[Active] [nchar](3) NULL,
	[DOB] [datetime] NULL,
	[passport] [nchar](90) NULL,
	[Scholarship] [nchar](10) NULL,
	[House] [nchar](15) NULL,
	[Tribe] [nchar](20) NULL,
	[ActiveMain] [bit] NULL,
	[Religion] [nchar](10) NULL,
	[DateOfEnrollment] [datetime] NULL,
	[School] [nchar](15) NULL,
	[Comment] [nchar](100) NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentInfo] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[StudentInfo] OFF
/****** Object:  Table [dbo].[States]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[LGA] [nvarchar](60) NULL,
	[State] [nvarchar](60) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[States] ([LGA], [State]) VALUES (N'Abadam', N'Borno State')
INSERT [dbo].[States] ([LGA], [State]) VALUES (N'Abaji', N'FCT')
INSERT [dbo].[States] ([LGA], [State]) VALUES (N'Abak', N'Akwa Ibom State')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  Table [dbo].[StaffInventory]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffInventory](
	[IDEN] [int] IDENTITY(1,1) NOT NULL,
	[STAFFNAMES] [nchar](40) NULL,
	[ITEMS] [nchar](40) NULL,
	[RECIEVED] [int] NULL,
	[RETURNED] [int] NULL,
	[NOTES] [nchar](40) NULL,
	[TRANSDATE] [datetime] NULL,
 CONSTRAINT [PK_StaffInventory] PRIMARY KEY CLUSTERED 
(
	[IDEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffInfo]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffInfo](
	[StaffNumber] [nchar](10) NOT NULL,
	[StaffNames] [nchar](30) NULL,
	[Passport] [nchar](30) NULL,
	[State] [nchar](20) NULL,
	[LG] [nchar](20) NULL,
	[Tribe] [nchar](20) NULL,
	[Department] [nchar](10) NULL,
	[DOE] [datetime] NULL,
	[DOB] [datetime] NULL,
	[Gender] [nchar](8) NULL,
	[Religion] [nchar](10) NULL,
	[HouseAddress] [nchar](50) NULL,
	[CorrespondenceAddress] [nchar](50) NULL,
	[FirstNumber] [nchar](15) NULL,
	[SecondNumber] [nchar](15) NULL,
	[FirstRefreeName] [nchar](30) NULL,
	[SecondRefreeName] [nchar](30) NULL,
	[FirstRefreeNumbers] [nchar](40) NULL,
	[SecondRefreeNumbers] [nchar](40) NULL,
	[NextOfKin] [nchar](30) NULL,
	[MaritalStatus] [nchar](20) NULL,
	[FirstSchoolAttended] [nchar](20) NULL,
	[SecondSchoolAttended] [nchar](20) NULL,
	[thirdSchoolAttende] [nchar](20) NULL,
	[FouthSchoolAttended] [nchar](20) NULL,
	[FifthSchoolAttended] [nchar](20) NULL,
	[FirstQual] [nchar](20) NULL,
	[SecondQual] [nchar](20) NULL,
	[ThirdQual] [nchar](20) NULL,
	[FouthQual] [nchar](20) NULL,
	[FifthQual] [nchar](20) NULL,
	[FirstDate] [datetime] NULL,
	[SecondDate] [datetime] NULL,
	[ThirdDate] [datetime] NULL,
	[FouthDate] [datetime] NULL,
	[FifthDate] [datetime] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_StaffInfo] PRIMARY KEY CLUSTERED 
(
	[StaffNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[FullNames] [nchar](30) NULL,
	[PhoneNumber] [nchar](15) NULL,
	[Designation] [nchar](20) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Sessionn] [nchar](10) NOT NULL,
	[ActiveSession] [nchar](6) NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Sessionn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Session] ([Sessionn], [ActiveSession]) VALUES (N'2015/2016 ', NULL)
INSERT [dbo].[Session] ([Sessionn], [ActiveSession]) VALUES (N'2016/2017 ', NULL)
INSERT [dbo].[Session] ([Sessionn], [ActiveSession]) VALUES (N'2017/2018 ', NULL)
/****** Object:  Table [dbo].[Scholarship]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scholarship](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[Scholarship] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Scholarship] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Scholarship] ON
INSERT [dbo].[Scholarship] ([iden], [Scholarship]) VALUES (1, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Scholarship] ([iden], [Scholarship]) VALUES (2, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Scholarship] ([iden], [Scholarship]) VALUES (3, CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Scholarship] OFF
/****** Object:  Table [dbo].[RevenueItem]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueItem](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](30) NULL,
	[Item] [nchar](30) NULL,
 CONSTRAINT [PK_RevenueItem] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueExpenses]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueExpenses](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[RefNumber] [nchar](10) NULL,
	[Date] [datetime] NULL,
	[Student] [nchar](30) NULL,
	[AdmNumber] [nchar](10) NULL,
	[Person] [nchar](10) NULL,
	[Company] [nchar](20) NULL,
	[Category] [nchar](10) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[Class] [nchar](10) NULL,
	[Item] [nchar](10) NULL,
	[TransType] [nchar](10) NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Debit] [numeric](18, 2) NULL,
	[Credit] [numeric](18, 2) NULL,
	[Mode] [nchar](8) NULL,
	[Note] [nchar](40) NULL,
	[Price] [numeric](18, 2) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_IncomeExpenses] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'expense or revenue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RevenueExpenses', @level2type=N'COLUMN',@level2name=N'TransType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cash or credit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RevenueExpenses', @level2type=N'COLUMN',@level2name=N'Mode'
GO
/****** Object:  Table [dbo].[ResultReport]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultReport](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nchar](60) NULL,
	[Clas] [nchar](10) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[Subject] [nchar](20) NULL,
	[CA1] [decimal](18, 2) NULL,
	[CA2] [decimal](18, 2) NULL,
	[Exam] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[GrandTotal] [decimal](18, 2) NULL,
	[Grade] [nchar](5) NULL,
	[Average] [decimal](18, 2) NULL,
	[PositionSubject] [nchar](4) NULL,
	[PositionTotal] [nchar](4) NULL,
	[Remark] [nchar](10) NULL,
	[NoInClass] [int] NULL,
	[ClassAverage] [decimal](18, 2) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_ResultReport] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Iden] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nchar](60) NULL,
	[Clas] [nchar](10) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[Subject] [nchar](20) NULL,
	[CA1] [decimal](18, 2) NULL,
	[CA2] [decimal](18, 2) NULL,
	[Exam] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[Position1] [nchar](4) NULL,
	[Position2] [nchar](4) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Result] ON
INSERT [dbo].[Result] ([Iden], [FullName], [Clas], [Session], [Term], [Subject], [CA1], [CA2], [Exam], [Total], [Position1], [Position2], [School]) VALUES (1, N'IGBEREASE JOSHUA ADE                                        ', N'SS3       ', N'2015/2016 ', N'1st       ', N'AGRICULTURAL SCIENCE', CAST(12.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(56.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[Result] ([Iden], [FullName], [Clas], [Session], [Term], [Subject], [CA1], [CA2], [Exam], [Total], [Position1], [Position2], [School]) VALUES (2, N'OLATUNDE ADEOLA                                             ', N'SS3       ', N'2015/2016 ', N'1st       ', N'AGRICULTURAL SCIENCE', CAST(9.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Result] OFF
/****** Object:  Table [dbo].[Reciepts]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reciepts](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[TellerNum] [nchar](15) NULL,
	[Namess] [nchar](80) NULL,
	[Clas] [nchar](10) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[DOP] [datetime] NULL,
	[Balance] [decimal](18, 2) NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[AdmissionNumber] [nchar](20) NULL,
	[School] [nchar](15) NULL,
	[InvNumber] [nchar](15) NULL,
 CONSTRAINT [PK_Reciept] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pwdUsers]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pwdUsers](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nchar](10) NULL,
	[pwd] [nchar](10) NULL,
	[roles] [nchar](15) NULL,
 CONSTRAINT [PK_pwdUsers] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pwdUsers] ON
INSERT [dbo].[pwdUsers] ([iden], [userName], [pwd], [roles]) VALUES (1, N'admin     ', N'123456    ', N'admin          ')
SET IDENTITY_INSERT [dbo].[pwdUsers] OFF
/****** Object:  Table [dbo].[Positions]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Number] [nchar](3) NOT NULL,
	[Position] [nchar](6) NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Positions] ([Number], [Position]) VALUES (N'1  ', N'1st   ')
INSERT [dbo].[Positions] ([Number], [Position]) VALUES (N'10 ', N'10th  ')
INSERT [dbo].[Positions] ([Number], [Position]) VALUES (N'100', N'100th ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Items]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[types] [nchar](20) NULL,
	[item] [nchar](20) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItem]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItem](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](20) NULL,
	[Item] [nchar](30) NULL,
 CONSTRAINT [PK_InventoryItem] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[RefNumber] [nchar](10) NULL,
	[Date] [datetime] NULL,
	[AdmNumber] [nchar](10) NULL,
	[StudentName] [nchar](30) NULL,
	[Person] [nchar](20) NULL,
	[Supplier] [nchar](30) NULL,
	[Category] [nchar](10) NULL,
	[Item] [nchar](10) NULL,
	[Quantity] [numeric](18, 2) NULL,
	[QuantityIN] [numeric](18, 2) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[Class] [nchar](10) NULL,
	[Price] [numeric](18, 2) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseItem]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseItem](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[item] [nchar](30) NULL,
 CONSTRAINT [PK_ExpenseItem] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[defaulters]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[defaulters](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[names] [nchar](80) NULL,
	[classs] [nchar](10) NULL,
	[FeesAmount] [decimal](18, 2) NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_defaulters] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[defaulters] ON
INSERT [dbo].[defaulters] ([iden], [names], [classs], [FeesAmount], [AmountPaid], [Balance], [School]) VALUES (1, N'MONDAY                                                                          ', N'          ', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[defaulters] ([iden], [names], [classs], [FeesAmount], [AmountPaid], [Balance], [School]) VALUES (2, N'MUSA                                                                            ', N'          ', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[defaulters] ([iden], [names], [classs], [FeesAmount], [AmountPaid], [Balance], [School]) VALUES (3, N'AMAJUOJI                                                                        ', N'          ', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[defaulters] OFF
/****** Object:  Table [dbo].[Clas]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clas](
	[Clas] [nchar](10) NOT NULL,
	[pwd] [nchar](10) NULL,
	[school] [nchar](15) NULL,
 CONSTRAINT [PK_Clas] PRIMARY KEY CLUSTERED 
(
	[Clas] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clas] ([Clas], [pwd], [school]) VALUES (N'CRE       ', N'CRE       ', N'ACE            ')
INSERT [dbo].[Clas] ([Clas], [pwd], [school]) VALUES (N'GR1       ', N'GR1       ', N'ACE            ')
INSERT [dbo].[Clas] ([Clas], [pwd], [school]) VALUES (N'GR2       ', N'GR2       ', N'ACE            ')
/****** Object:  Table [dbo].[Bill]    Script Date: 01/31/2017 14:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[iden] [int] IDENTITY(1,1) NOT NULL,
	[TellerNum] [nchar](15) NULL,
	[Namess] [nchar](80) NULL,
	[Clas] [nchar](10) NULL,
	[Session] [nchar](10) NULL,
	[Term] [nchar](10) NULL,
	[DOP] [datetime] NULL,
	[BillAmount] [decimal](18, 2) NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[AdmissionNumber] [nchar](20) NULL,
	[School] [nchar](15) NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[iden] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON
INSERT [dbo].[Bill] ([iden], [TellerNum], [Namess], [Clas], [Session], [Term], [DOP], [BillAmount], [AmountPaid], [AdmissionNumber], [School]) VALUES (3, N'               ', N'JAMES JESSE OCHE                                                                ', N'CRE       ', N'2016/2017 ', N'1st       ', CAST(0x0000A68600000000 AS DateTime), CAST(35000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Bill] ([iden], [TellerNum], [Namess], [Clas], [Session], [Term], [DOP], [BillAmount], [AmountPaid], [AdmissionNumber], [School]) VALUES (4, N'               ', N'DANGANA KPEINOM *                                                               ', N'CRE       ', N'2016/2017 ', N'1st       ', CAST(0x0000A68600000000 AS DateTime), CAST(35000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Bill] ([iden], [TellerNum], [Namess], [Clas], [Session], [Term], [DOP], [BillAmount], [AmountPaid], [AdmissionNumber], [School]) VALUES (5, N'               ', N'JOHN VIANNEY IKEH KAMSIYOCHUKWU                                                 ', N'CRE       ', N'2016/2017 ', N'1st       ', CAST(0x0000A68600000000 AS DateTime), CAST(35000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Bill] OFF
